
@{
    ViewBag.Title = "Transformation";
}
<div class="row justify-content-md-center mt-4">
    <h2>Realice la trasformacion de su archivo</h2>

    <form method="post" action='@Url.Action("Xml", "Xml")'>
        <button class="btn btn-success col-md-auto mt-2" type="submit">Transformar</button>
    </form>    
</div>
