
@{
    ViewBag.Title = "Transformation";
}
<div class="row justify-content-md-center mt-4">
    <h2>Realice la trasformacion de su archivo</h2>
</div>
<hr />
<div class="row">
    <div class="col-md-6 offset-md-5">
        <form method="post" action='@Url.Action("Xml", "Xml")'>
            <button class="btn btn-success" type="submit">Transformar</button>
        </form>
    </div>
</div>
