
@{
    ViewBag.Title = "Home";
}


<div class="row justify-content-md-center">
    <h1>Bienvenido</h1>
</div>
<div class="row">
    <h3>Realice la carga de su archivo</h3>
</div>

@using (Html.BeginForm("Transformation", "Xml", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

        <div class="col-md-auto">
            <div class="custom-file col col-lg-2">
                <input type="file" name="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
            </div>
            <div>
                <button class="btn btn-success col-md-auto mt-2" type="submit">Subir archivo</button>
            </div>
        </div>    

}

